* {
    margin: 0;
    padding: 0;
}

.card-container {
    width: 35%;
    height: auto;
    position: relative;
    min-width: 360px;
    display: flex;
    min-height: 35%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid rgb(0, 183, 255);
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    color: white;
    background-size: cover;
    background: linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);
}

.night {
    background: rgb(67, 60, 185);
    background: linear-gradient(90deg, rgba(67, 60, 185, 1) 0%, rgba(43, 43, 228, 1) 52%, rgba(16, 35, 138, 1) 100%);
    border-color: rgb(58, 52, 160);
}

.night .select-option:hover {
    background-color: rgb(14, 30, 117);
}

.afternoon {
    background: rgb(255, 164, 0);
    background: linear-gradient(0deg, rgba(235, 151, 0, 1) 0%, rgba(255, 170, 50, 1) 50%, rgba(255, 119, 0, 1) 100%);
    border-color: rgb(189, 89, 2);
}

.afternoon .select-option:hover {
    background-color: rgb(179, 84, 2);
}

.loader {
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid white;
    border-bottom-color: transparent;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.card-location {
    display: inline-block;
    margin-bottom: 1rem;
    width: 7rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: right;
    margin-right: 0.5rem;
}

.temperature-container {
    display: flex;
    align-items: center;
}

.card-icon {
    width: 180px;
    vertical-align: middle;
}

.card-select {
    appearance: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    font-family: system-ui;
    font-weight: lighter;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 185px;
    outline: none;
    padding: 5px 5px 5px 10px;
}

.card-select option {
    background-color: rgba(73, 218, 243, 0.85);
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}

.select-option:hover {
    background-color: rgb(34, 165, 209);
}

.select-selected {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #686868;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 1rem;
    width: 10.5rem;
    z-index: 3;
}

.select-selected span {
    display: block;
}

.select-options {
    position: absolute;
    top: 3.7rem;
    background-color: rgba(73, 218, 243);
    width: 11.75rem;
    border-radius: 1rem;
    z-index: 3;
}

.select-option {
    font-weight: 500;
}

.card-temperature {
    font-family: system-ui, sans-serif;
    font-weight: lighter;
    font-size: 5rem;
    color: white;
    font-weight: 300 !important;
}

.card-time {
    font-weight: 400;
}

.card-subcontainer {
    width: 100%;
}

.body-container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.status-container {
    display: flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.status-container span {
    font-weight: 400;
}

.time-container {
    display: flex;
    justify-content: center;
    font-family: system-ui, sans-serif;
    font-weight: lighter;
}

.refresh-icon {
    width: 30px;
    cursor: pointer;
    transition: transform 0.7s ease;
}

.card-countrys {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.arrow-icon {
    width: 17px;
    margin-right: 5px;
    pointer-events: none;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(180deg);
}

.rotate-refresh {
    transform: rotate(360deg);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: auto;
}

.data-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.data-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(85, 85, 85, 0.25);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.wind-icon {
    width: 20px;
    margin-right: 0.3rem;
}